<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.16 12.66"><defs><style>.cls-1{fill:none;stroke:inherit;stroke-linecap:round;stroke-linejoin:round;}</style></defs><title>Artboard 1</title><path class="cls-1" d="M8.66,4.58c0,2.25-3.9,7.58-4.08,7.58S.5,6.83.5,4.58a4.08,4.08,0,0,1,8.16,0Z"/><circle class="cls-1" cx="4.58" cy="4.68" r="1.65"/></svg>
