<div class="barbox is-index">
	<div class="infobar">
		<div class="infobar__box">on orders over $20</div>
		<!-- /.infobar__box -->
		<div class="infobar__box">free domestic shipping</div>
		<!-- /.infobar__box -->
		<div class="infobar__box">lower 48 states only</div>
		<!-- /.infobar__box -->
	</div>
	<!-- /.infobar__inner -->
</div>
<!-- /.infobar -->
