<div class="page-404">
  <div class="page-404--container">
    <img src={{ 'pic404.png' | asset_img_url: '600x' }} />
    <div class="page-404--text">
      <h2>OOPS SOMETHING HAPPENED</h2>
      <hr />
      <h1>404</h1>
    </div>
  </div>
</div>
