<div class="page-header with-border">
	<div class="page-width">
		<h1 class="page-title is-small">{{ page.title }}</h1>
	</div>
</div>

<div class="page-wrap">
	<div class="page-width rte editor">
	  {{ page.content }}
	</div>	
</div>

