<div class="wholesale">

	<div class="wholesale--hero">
		<div class="wholesale--hero-container">
			<h1 class="page-title">We're here<br/> to make your coffee program awesome.</h1>
			<p>Our team has extensive experience both running our own coffee shops and providing coffee to cafés, so we understand your needs. You want great coffee, and you want excellent support in every piece and part of serving your coffee drinkers. We're here for that.</p>
			<img src="//cdn.shopify.com/s/files/1/0551/8953/files/wholesale-horn.png?9952284941399207619" alt="Messenger Wholesale Coffee" />
		</div>
	</div>

	<div class="wholesale--cta">
		<div class="wholesale--cta-container">
			<div class="wholesale--cta-section">
				<a href="https://messengercoffee.gogecko.com/" class="btn btn-dark login" target="_blank">Login, I already have an account</a>
			</div>
			<div class="wholesale--cta-section">
				<a href="#contactFormWrapper" class="btn btn-dark contact">I'd like to hear more details</a>
			</div>
		</div>
	</div>

	<div class="wholesale--partner">
		div class
    <img src="//cdn.shopify.com/s/files/1/0551/8953/files/wholesale-roaster.png?8317997063922462198" alt="Messenger Coffee Roaster" />
    <div class="container">
      <h3>We partner with <em>coffee shops</em>, <em>restaurants</em>, <em>churches</em>, <em>businesses</em>, <em>bakeries</em>, and more. We see our role as enabling business owners to serve their customers,<br> clients, or parishoners at the highest level possible, and we're with you every step of<br> the way.</h3>
    </div>
  </div>

</div>
